USE master
GO

IF EXISTS (SELECT OBJECT_ID('Summit_DEV'))
DROP DATABASE Summit_DEV
GO


CREATE DATABASE [Summit_DEV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Summit_DEV', FILENAME = N'D:\SQL Server Dev\MSSQL14.SUMMIT\MSSQL\DATA\Summit_DEV.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Summit_DEV_log', FILENAME = N'D:\SQL Server Dev\MSSQL14.SUMMIT\MSSQL\DATA\Summit_DEV_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
ALTER DATABASE [Summit_DEV] ADD FILEGROUP [Config]
GO
USE [Summit_DEV]
GO
USE [Summit_DEV]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Summit_DEV] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
